
    <div class="container mt-5 mb-5" data-controller="order invoce">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card-order">
                        <div class="text-left logo p-2 px-5">
                            <img src="https://i.imgur.com/2zDU056.png" width="50">
                        </div>
                        <div class="invoice p-5">
                            <h5>Your order Confirmed!</h5>
                            <%= link_to "Download Invoice 1", invoice_download_path, class: "button", target: "_blank" %>
                            <span class="font-weight-bold d-block mt-4">Hello,  <h3><%=@user_info.first_name%>  <%= @user_info.last_name %></h3></span>
                            <span>You order has been confirmed and will be shipped in next two days!</span>
                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Order Date</span>
                                                <span><%=@time.strftime("%d %B, %Y")%></span>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Order No</span>
                                                <span><%=session[:order_id]%></span>
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Payment</span>
                                                <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">
                                                    <span class="d-block text-muted">Shiping Address</span>
                                                <span><%=@user_info.city%> , <%=@user_info.state%>, <%=@user_info.country%> </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                                <div class="product border-bottom table-responsive">
                                    <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody data-order-target="orderDetail">
                                        
                                    </tbody> 
                                    </table>
                                </div>
                                <div class="row d-flex justify-content-end">
                                    <div class="col-md-5">
                                        <table class="table table-borderless" data-order-target="orderTotal">
                                            
                                        </table>
                                    </div>
                                </div>
                                <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                                <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                                <span>Dream Cover Team</span>
                        </div>


                        <div class="d-flex justify-content-between footer p-3">
                            <span>Need Help? visit our <a href="#"> help center</a></span>
                        </div>

            </div>
        </div>
    </div>