

<body  data-controller = "product">

<!-- home section starts  -->

<section class="home-index" id="home">

    <div class="content">
        <h3>New </span> products for your</h3>
        <p></p>
 
    <%= link_to "View more", product_index_path, :method => :get,  class:"btn-index index-anch" %> 

    </div>

</section>


<!-- home section ends -->


<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> our <span>products</span> </h1>

    <div class="swiper product-slider swiper-initialized swiper-horizontal swiper-pointer-events">

        <div class="swiper-wrapper">

            <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-2.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                  <%= link_to "View more", product_index_path, :method => :get,  class:"btn-index index-anch" %> 
                <!--<%= button_to "View more",product_index_path, :method => :get,  class:"btn-index index-anch",  value:"King" , data: {"product-target" => "king_size_product" , action: "click->product#new_arrival_products_dynamic_admin" }%>
                <button value="king" class="btn-index index-anch" data-action= "click->product#new_arrival_products_dynamic_admin"  >View More2 </button>-->
            </div>

             <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-3.jpg" alt="">
                <h3>Queen Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <%= link_to "View more", product_index_path, :method => :get,  class:"btn-index index-anch" %> 
                <!--<%= button_to "View more",product_index_path, :method => :get,  class:"btn-index index-anch",  value:"Queen" , data: {"product-target" => "queen_size_product" , action: "click->product#new_arrival_products_dynamic_admin" }%>-->
            </div>

           <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-6.jpg" alt="">
                <h3>Kid Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <%= link_to "View more", product_index_path, :method => :get,  class:"btn-index index-anch" %> 
                   <!--<%= button_to "View more",product_index_path, :method => :get,  class:"btn-index index-anch",  value:"Kid" , data: {"product-target" => "kid_size_product" , action: "click->product#new_arrival_products_dynamic_admin" }%>-->
            </div>

        </div>

    </div>

</section>
<section class="deal" id="deal">
    
    <div class="icons-container">
    
        <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <h3>fast delivery</h3>
            <p>We make deliveries fast, so you can get back to other stuff faster 😉</p>
        </div>

    
        <div class="icons">
            <i class="fas fa-money-check-alt"></i>
            <h3>easy payments</h3>
            <p>Success is one thing you can't pay for. You buy it on the installment plan and make payments everyday</p>
        </div>
    
        <div class="icons">
            <i class="fas fa-box"></i>
            <h3>7 days replacements</h3>
            <p>Patch the uniform and let the galaxy form a comfortable replacement</p>
        </div>
    
    </div>
    
    </section>

<!-- products section ends -->


<!-- categories section starts  -->

    
</body>


